<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/header :: header">Header</head>

    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container-md px-md-6" id="main-contents">
            <div layout:fragment="content">Page Content</div>
        </div>

        <th:block th:replace="fragments/scripts :: scripts"/>

    </body>
    <div th:replace="fragments/footer"></div>
    <th:block layout:fragment="scripts"></th:block>
</html>