<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>로그인</h4>
        </div>
    </div>
    <main class="form-login">
        <form class="form-login" th:action="@{/member/login}" method="post">
            <th:block th:if="${param.error != null}">
                <div th:replace="fragments/alert :: alert (type='danger', message='아이디 또는 비밀번호가 올바르지 않습니다.')">Alert</div>
            </th:block>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" name="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </main>
</div>
</body>
</html>