<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" class="main-content">
    <br>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <div class="container my-3 p-4 bg-white rounded-3"><h1 th:text="${post.title}"></h1>

        <div class="fs-6" th:text="'작성자: ' + ${post.getMember().getUsername()}"></div>
        <div class="fs-6" th:text="'최종 등록일: ' + ${#dates.format(post.createdAt, 'yyyy.MM.dd HH:mm:ss')}"></div>
        <div class="fs-6" th:text="'최종 수정일: ' + ${post.updatedAt != null ? #dates.format(post.updatedAt, 'yyyy.MM.dd HH:mm:ss') : '-'}"></div>
        <hr>
        <div th:utext="${post.getContent()}"></div>
            <hr>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary mx-1" th:href="@{'/posts'}">목록</a>
            <form th:action="@{/posts}" th:method="delete">
                <input type="hidden" name="id" th:field="*{post.id}">
                <button id="post-delete-btn" class="btn btn-danger mx-1 btn-delete" type="submit">삭제</button>
            </form>
            <a class="btn btn-warning mx-1" th:href="@{'/posts/'+${post.getId()}+'/edit'}">수정</a>
        </div>
    </div>
        <hr>
    </div>
</div>
</body>

</th:block>