<!DOCTYPE html>
<body lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" class="main-content">
    <br>
    <div class="alert alert-danger" role="alert" th:text="${postError}" th:if="${postError}"></div>
    <div class="container my-3 p-4 bg-white rounded-3"><h1 th:text="${post.title}"></h1>

        <div class="fs-6" th:text="'작성자: ' + ${post.getMember().getUsername()} + ' | 조회수: ' + ${post.getHit()}"></div>
        <div class="fs-6" th:text="'최종 등록일: ' + ${#dates.format(post.createdAt, 'yyyy.MM.dd HH:mm:ss')}"></div>
        <div class="fs-6" th:text="'최종 수정일: ' + ${post.updatedAt != null ? #dates.format(post.updatedAt, 'yyyy.MM.dd HH:mm:ss') : '-'}"></div>
        <hr>
        <div th:utext="${post.getContent()}"></div>
        <div th:if="${post.getFile() != null}" th:scope="row">
            <hr>
            <h5>첨부파일</h5>
            <div class="row">
                <div class="col">
                    <a th:text="${post.getFile().getOriginalName()}"
                       th:href="@{/files/{id}(id = ${post.getFile().getId()})}"></a>
                </div>
            </div>
        </div>
            <hr>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary mx-1" th:href="@{'/posts'}">목록</a>
            <form th:action="@{/posts}" th:method="delete">
                <input type="hidden" name="id" th:field="*{post.id}">
                <button id="post-delete-btn" class="btn btn-danger mx-1 btn-delete" type="submit">삭제</button>
            </form>
            <a class="btn btn-warning mx-1" th:href="@{'/posts/'+${post.getId()}+'/edit'}">수정</a>
        </div>

        <!--댓글-->
        <div class="justify-content-end">
            <form id="post-form" th:object="${comment}" th:action="@{'/comments'}" th:method="post"
                  enctype="multipart/form-data">
                <hr>
                <input type="hidden" name="postId" th:value="${post.id}">
                <div class="row align-items-center">
                    <div class="col-10">
                        <input type="text" class="form-control" th:field="*{content}" placeholder="댓글을 입력하세요." required>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-secondary" th:value="댓글저장">
                    </div>
                </div>
                <hr>
            </form>
        </div>
        <div class="justify-content-start">
                <div class="clickable-row" th:scope="row" th:each="comment, iter: ${commentList}">
                    <form id="comment-form" th:action="@{/comments}" th:method="delete">
                    <small><a th:text="${comment.member.getUsername() +' | '}"></a></small>
                    <small><a th:text="${#temporals.format( comment.createdAt, 'yyyy-MM-dd HH:mm:ss' )}"></a></small>
                    <div class="d-flex">
                        <div class="col-lg-11" th:text="${comment.content}"></div>
                        <input type="hidden" name="id" th:value="${comment.id}">
                        <button type="submit" form="comment-form" class="btn-close justify-content-lg-end" aria-label="Close"></button>
                    </div>
                    <hr>
                    </form>
                </div>
        </div>
        <div class="d-flex gap-2 justify-content-start">
            <div>
            <a class="btn btn-light btn-sm" th:href="${prePost ==  null ? '#' : '/posts/'  + prePost.getId()}" th:text="${prePost == null ? '이전글이 없습니다' : '이전글'}"></a>
            </div>
            <div>
            <a class="btn btn-light btn-sm" th:href="${nextPost == null ? '#' : '/posts/' + nextPost.getId()}" th:text="${nextPost == null ? '다음글이 없습니다' : '다음글'}"></a>
            </div>
        </div>
    </div>
</div>
</body>