<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/app.css}" />
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/summernote/summernote-lite.min.css}" />
</head>

<div th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" th:href="@{/}">PTECH BORDER</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/posts/' ? 'active':''}" th:href="@{/posts/}">자유 게시판</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/member/login' ? 'active':''}" th:href="@{/member/login}">로그인</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/member/new' ? 'active':''}" th:href="@{/member/new}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" sec:authentication="name" th:classappend="${#httpServletRequest.getRequestURI() == '/member/mypage' ? 'active':''}" th:href="@{/member/mypage}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:method="post" th:action="@{/member/logout}">
                        <input class="nav-link btn" value="로그아웃" type="submit">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>
