<nav xmlns:th="http://www.thymeleaf.org" th:fragment="pagination"
     th:with="begin = ${pagination.begin},
                end = ${pagination.end},
                url = ${pagination.url},
                query = ${pagination.query},
                current = ${pagination.current},
                totalPages = ${pagination.page.totalPages},
                contentSize = ${pagination.page.getContent().size()}"
     aria-label="Page navigation">
    <ul class="pagination justify-content-center" th:if="${contentSize != 0}">
        <li class="page-item" th:if="${current != begin}">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=0)}+'&'+${query}" aria-label="Previous">
                <span aria-hidden="true">&lt;&lt;</span>
            </a>
        </li>
        <li th:if="${current <= 5 && current > 1}">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${current - 2})}+'&'+${query}">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(begin, end)}" th:classappend="${i == current} ? 'active'">
            <a th:if="${i > 0}" class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${i - 1})}+'&'+${query}">
                <span th:text="${i}"></span>
            </a>
        </li>
        <li th:if="${(current >= (totalPages - 5)) && (current < totalPages)}">
        <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${current})}+'&'+${query}">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>

        <li class="page-item" th:if="${current != end && current != 0}">
            <a class="page-link" href="#" th:href="@{{pageUrl}(pageUrl=${url}, page=${totalPages - 1})}+'&'+${query}">
                <span aria-hidden="true">&gt;&gt;</span>
            </a>
        </li>
    </ul>
</nav>